::-webkit-scrollbar {
    width: 6px;
    display: none;

}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #888D91;
    font-weight: 300;
}

a{
    color: #51A9E5;
    text-decoration: none;
}

#top-toolbar{
    border-bottom: solid 1px #DADAE3; 
    height: 30px;
    padding: 5px 45px 10px 39px;
}

#chat-name{
    color: #56565B;
    display: inline-block;
    font-size: 19px;
    font-weight: 400;
    margin-top: 5px;
}


.myavatar {
    display: inline-block;
    background: #9e9e9e url("images/people/1.jpg") center center no-repeat;
    float: right;
    border: solid 1px #ddd;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-size: contain;
}

#right-panel{
     padding: 20px 25px 20px 30px;
     overflow-y: scroll;
}

#announcement-title{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #66696B;
    margin-bottom: 15px;
}

#announcement-text{
    line-height: 18px;
    font-size: 11px;
    font-weight: 400;
    color: #888D91;
    margin-bottom: 20px;
}

paper-input {
    padding-right: 10px;
    padding-bottom: 0;
    font-size: 13px;
    color: #000;
    font-weight: 300;

}

paper-input /deep/ #decorator{
    padding-top: 0;
    padding-bottom: 0;

}

paper-input /deep/ .underline {
    display: none;
}


#chat {
    height: 100%;
}

.chat-list {
    padding-top: 6px;
    overflow-y: scroll;
    border-bottom: solid 1px #DADAE3;
    background-color: #ffffff;   
}
.send-message {
    padding: 7px 16px 11px 46px;
    background-color: #ffffff;
}

#right-panel{
    background-color: #f8f8fa
}


